.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Three image containers*/
.column {
  float: left;
  width: 25%;
  padding: 2px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}